#post_contenido{
    height: auto;
    background-color: #303535;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    border-radius: 5px;
}

#ComentariosContenido{
    background-color: #303535;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    border-radius: 5px;
    height: auto;
    
}
#tituloComentarios {
    color: #FFFFFF;
    
}
  
.btn-like:active {
    background-color: #2CA48E;
}

