{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'base/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container_login"><br>
    <div class="row justify-content-md-center">
        <div id="marco" class="col-lg-6">
            <h2 class="fw-bolder" >Login</h2><br>
            <form class="fw-bold" method="post">{% csrf_token %}
                
            {{ form.as_p }}
                    
                <button class="btn btn-success" type="submit" id="submit">Ingresar</button>
            </form><br>
        </div>
    </div>
</div>
{% endblock content %}