{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'base/css/login.css' %}">
<body>
    <div class="container_login">
        <div class="row justify-content-md-center">
            
            <h2 class="fw-bolder" >Login</h2>
            <form class="form" method="post">{% csrf_token %}
                
            {{ form.as_p }}
                    
                <button type="submit" id="submit">Ingresar</button>
            </form>
            
        </div>
    </div>
</body>
{% endblock content %}