{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'usuario/css/registro.css' %}">

<div class="container d-flex justify-content-center"><br>
        <div class="row d-inline-flex justify-content-center pt-3 ms-5 me-5 mb-5 mt-5" id="container_registro">
            <div class="col-lg-6">
                <h2 class="fw-bolder d-flex justify-content-center" >Registro</h2>
                <form class="fw-bold" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    {{ form | crispy }}
                    <br>
                    <div class="d-grid gap-4 d-md-flex justify-content-md-end mt-3">
                        <input class="btn btn-outline-danger" type="reset" value="Borrar">
                        <input class="btn btn-outline-success" type="submit" value="Enviar">
                    </div>
                    <br>
                </form>
            </div>
        </div>
</div>
{% endblock content %}
