{% extends 'base.html' %}
{% load static %}

{% block css %}
  {{ block.super }}
   <link rel="stylesheet" type="text/css" href="{% static 'base/css/buscar.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-white">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 search">
                        <div class="text-center">
                            <form method="get">
                                <div id="custom-search-input">
                                    <h5>Ingrese titulo del post a buscar</h5>
                                    <br>
                                    <h5>Ingrese nombre del usuario del creador del post a buscar</h5>
                                    <input type="text" class="form-control" placeholder="Buscar..." name="buscar" id="">
                                    <span class="input-group-list">
                                        <i class="icon icon-search"></i>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-buscar mt-4">Buscar</button>
                                        </div>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 search">
                        <div class="text-center">
                            <form method="GET">
                                <h5>Elija una categoria</h5>
                                <br>
                                <select name="filtro" class="select-css" id="">
                                    {% for cat in categorias %}
                                        <option value="{{ cat.id }}" class="option">{{ cat.nombre }}</option>
                                    {% endfor %}
                                </select>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-buscar mt-4">Buscar por categoria</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}