{% extends 'base.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/index.css' %}">
{% endblock %}
<!-- AGREGO EL TITULO DEL TEMPLATE-->

{% block content %}
    <div class="row g-0">
        <div class="col-2">
            <div class="list-group"id="lista_categorias">
                <a class="list-group-item list-group-item-action d-flex justify-content-center" id="TITULO_ODS">
                    17 ODS:
                </a>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods1">
                    <img src="{% static 'base/img/ODS1.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods2">
                    <img src="{% static 'base/img/ODS2.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods3">
                    <img src="{% static 'base/img/ODS3.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods4">
                    <img src="{% static 'base/img/ODS4.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods5">
                    <img src="{% static 'base/img/ODS5.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods6">
                    <img src="{% static 'base/img/ODS6.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods7">
                    <img src="{% static 'base/img/ODS7.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods8">
                    <img src="{% static 'base/img/ODS8.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods9">
                    <img src="{% static 'base/img/ODS9.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods10">
                    <img src="{% static 'base/img/ODS10.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods11">
                    <img src="{% static 'base/img/ODS11.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods12">
                    <img src="{% static 'base/img/ODS12.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods13">
                    <img src="{% static 'base/img/ODS13.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods14">
                    <img src="{% static 'base/img/ODS14.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods15">
                    <img src="{% static 'base/img/ODS15.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods16">
                    <img src="{% static 'base/img/ODS16.png' %}" alt="">
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-center" id="but-ods17">
                    <img src="{% static 'base/img/ODS17.png' %}" alt="">
                </button>
            </div>   
        </div>  
        <div class="col-6 ms-5 ps-5" id= "blog_ciudad">
            <div class="" id="blog_ciudad">
                <div class="card">
                    <img src="{% static 'base/img/ciudad.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Blog: Acción Por el clima</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id consectetur dolore fugit porro asperiores magnam magni vero similique nostrum tenetur dolorem recusandae sint, sit perferendis a. Quaerat mollitia corrupti earum!</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
           
            
            
            
       </div>
    
    </div>
        
    
    
{% endblock content %}
