{% extends 'base.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/index.css' %}">
{% endblock %}
<!-- AGREGO EL TITULO DEL TEMPLATE-->
{% block titulo %}
INICIO
{% endblock %}

{% block content %}
    <div>
        <h3 id='Primer_Lorem'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe at veniam unde est deleniti adipisci modi nostrum accusamus autem debitis voluptate ex omnis, ullam ut, culpa eos commodi accusantium vero.</h3>
    </div>
    <div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    
{% endblock content %}
