{% extends 'base.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/index.css' %}">
{% endblock %}
<!-- AGREGO EL TITULO DEL TEMPLATE-->

{% block content %}
<h1>freeCodeCamp is a proven path to your first software developer job.
More than 40,000 people have gotten developer jobs after completing this – including at big companies like Google and Microsoft.
If you are new to programming, we recommend you start at the beginning and earn these certifications in order.
To earn each certification, build its 5 required projects and get all their tests to pass.
You can add these certifications to your résumé or LinkedIn. But more important than the certifications is the practice you get along the way.
If you feel overwhelmed, that is normal. Programming is hard.
Practice is the key. Practice, practice, practice.
And this curriculum will give you thousands of hours of hands-on programming practice.
And if you want to learn more math and computer science theory, we also have thousands of hours of video courses on freeCodeCamp's YouTube channel.
If you want to get a developer job or freelance clients, programming skills will be just part of the puzzle. You also need to build your personal network and your reputation as a developer.
You can do this on Twitter and GitHub, and also on the freeCodeCamp forum.
Happy coding!</h1>
{% endblock content %}
