#Primer_Lorem{
    text-align: center;
    font-size: 25px;
    margin-top: 20%;
    
}

#lista_categorias{
    padding-top: 3%;
    padding-right:80%;
}
#TITULO_ODS{
    background-color:darkgoldenrod;
}



