.editar {    
	height: 100%;
	width: 650px;
	padding-top: 40px;   
	background-color: #303535;
}

.btn:active {
	background-color: #EC94A2!Important;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.modificacion  {
	height: 620px;
	width: 500px;
}

.modificacion .form-group .textinput {
	width: 435px;
}

.modificacion .form-group #hint_id_username {
	width: 435px;
}

.modificacion .form-group .emailinput{
	width: 435px;
}

