{% extends 'base.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'post/css/postList.css' %}">
{% endblock %}

{% block content %}
<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <div class="mt-5 d-flex justify-content-end">
                <form method="get">
                    <div name="select" value = "{{ request.GET.select }}">
                        <a href="{% url 'posts:listarPost2' %}" type="submit" class="btn btn-outline-light">Ordenar por comentario</a>
                    </div>
                </form>
            </div>
            {% if posts %}
                {% for post in posts %}
                    {% if forloop.first%}<div class="row">{% endif %}
                    <div class="col-4">
                        <div class="card mt-5" style="background-color: #303535; color: #FFFFFF;">
                            {% if post.thumbnail %}
                                <img class="" height="280" src="{{ post.thumbnail.url }}">
                            {% else %}
                                <img src="{% static 'base/img/ciudad.jpg' %}" height="280" class="" alt="...">
                            {% endif %}
                            <div class="card-body" style="background-color: #303535; color: #FFFFFF;">
                                <h5 clas="card-title">{{ post.title }}</h5>
                                <h6 class="card-subtitle">Autor: {{ post.user }} </h6>
                                <p class="card-text">Categoría: {{ post.categoria.nombre }} </p>
                                <p class="card-text">Fecha: {{ post.publish_date }}</p>
                                <div class="card-body mt-2 d-flex justify-content-center">
                                    <a href="{% url 'posts:mostrarPost' post.id %}" class="btn btn-primary">Ir al post</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %} </div><div class="row">{% endif%}
                    {% if forloop.last %}</div>{% endif %}
                {% endfor %}

            {% else %}
                <div class="alert alert-danger">No hay nada acá</div>
            {% endif %}
        </div>
    </div>
</div>  
{% endblock %}