{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block css %}
	{{ block.super }}
	 <link rel="stylesheet" type="text/css" href="{% static 'post/css/postEdit.css' %}">
{% endblock %}

 
{% block content %}
<div class="d-flex justify-content-center">
	<div class="container mt-5 mb-5 row cuerpo rounded " id="post_contenido">
		<div class="col-12 item">
			<form method="post" class="text-white" enctype="multipart/form-data">
				{% csrf_token %}
				
				<div class="form-row mt-4">
						<div class="form-group col-12">
							{{ form.title |as_crispy_field }}
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-12">
							{{ form.thumbnail |as_crispy_field }}
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-12">
							{{ form.content |as_crispy_field }}
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-12">
							{{ form.categoria |as_crispy_field }}
						</div>
					</div>

				<button type="submit" class="btn btn-light mt-5 btn-lg btn-block mb-4" value="CREAR POST">MODIFICAR POST</button>   
			</form>
		</div>
	</div>
</div>
{% endblock %}