{% extends 'base.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'post/css/postList.css' %}">
{% endblock %}

{% block content %}
    <div class="mt-3">
        <div class="row mb-3">
            <div class="col-3 offset-9">
                <a href="#" class="btn btn-dark float-right">Crear Post</a>
            </div>
        </div>
        {% if posts %}
            {% for post in posts %}
                {% if forloop.first%}<div class="row">{% endif %}
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" height="180" src="{{ post.portada }}">
                        <div class="card-body">
                            <h5 clas="card-title">{{ post.title }}</h5>
                            <hr />
                            <h6 class="card-subtitle">Autor: {{ post.user }} </h6>
                            <p class="card-text">Categoría: {{ post.categoria.nombre }} </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %} </div><div class="row">{% endif%}
                {% if forloop.last %}</div>{% endif %}
            {% endfor %}

        {% else %}
            <div class="alert alert-danger">No hay nada acá</div>
        {% endif %}


    </div>
{% endblock %}